<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.realestateapp">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="RealEstateApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RealEstateApp">

        <activity android:name=".screens.BookingActivity" />
        <activity android:name=".screens.AddHouseActivity" />
        <activity android:name=".screens.HomeActivity" />
        <activity android:name=".screens.MyBookingsActivity" />
        <activity android:name=".screens.WishlistActivity" />
        <activity
            android:name=".screens.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>



</manifest>
